{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Новости и статьи</h1>
{% if news %}
<h3>Количество всех статей и новостей: {{news|length}}</h3>
<table>
    <tr>
        <td><b>Заголовок</b></td>
        <td><b>Дата публикации</b></td>
        <td><b>Превью</b></td>
    </tr>
    {% for n in news %}
    <tr>
        <td>{{ n.title|censor }}</td>
        <td>{{ n.dateCreation|date:'d.M.Y' }}</td>
        <td>{{ n.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>На данный момент новостей или статей нет!</h2>
{% endif %}
{% endblock content %}