{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News & articles
{% endblock title %}

{% block content %}
<h1>Новости и статьи</h1>
<hr>
{% if posts %}
<table>
    <tr>
        <td><b>Заголовок</b></td>
        <td><b>Дата публикации</b></td>
        <td><b>Превью</b></td>
    </tr>
    {% for p in posts %}
    <tr>
        <td>{{ p.title|censor }}</td>
        <td>{{ p.dateCreation|date:'d.M.Y' }}</td>
        <td>{{ p.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>На данный момент новостей или статей нет!</h2>
{% endif %}

{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}