{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News & articles
{% endblock title %}

{% block content %}
<h1>Новости и статьи</h1>
<hr>
{% if perms.newsapp.add_post %}
<a href="{% url 'nw_create' %}">Добавить новость</a>
<a href="{% url 'ar_create' %}">Добавить статью</a>
{% endif %}
{% if posts %}
{% if is_not_author %}
<button><a href="{% url 'author_now' %}">Стать автором></a></button>
{% endif %}
<table>
    <tr>
        <td><b>Заголовок</b></td>
        <td><b>Дата публикации</b></td>
        <td><b>Превью</b></td>
        {% if perms.newsapp.change_post or perms.newsapp.delete_post %}
        <td><b>Действия</b></td>
        {% endif %}
    </tr>
    {% for p in posts %}
    <tr>
        <td><a href="{% url 'post_detail' pk=p.id %}">{{ p.title|censor }}</a></td>
        <td>{{ p.dateCreation|date:'d.M.Y' }}</td>
        <td>{{ p.text|truncatewords:20|censor }}</td>
        <td>
            {% if perms.newsapp.change_post and p.categoryType == 'NW' and p.author == user.author %}
            <a href="{% url 'nw_update' pk=p.id %}">Изменить</a>
            {% endif %}
            {% if perms.newsapp.change_post and p.categoryType == 'AR' and p.author == user.author %}
            <a href="{% url 'ar_update' pk=p.id %}">Изменить</a>
            {% endif %}
            {% if perms.newsapp.delete_post and p.categoryType == 'NW' and p.author == user.author %}
            <a href="{% url 'nw_delete' p.id %}">Удалить</a>
            {% endif %}
            {% if perms.newsapp.delete_post and p.categoryType == 'AR' and p.author == user.author %}
            <a href="{% url 'ar_delete' p.id %}">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>На данный момент новостей или статей нет!</h2>
{% endif %}

{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}