{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News & articles Search
{% endblock title %}

{% block content %}
<h1>Поиск новостей и статей</h1>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти"/>
</form>
<hr>
{% if perms.newsapp.add_post %}
    <a href="{% url 'nw_create' %}">Добавить новость</a>
    <a href="{% url 'ar_create' %}">Добавить статью</a>
{% endif %}
{% if posts %}
<h3>Результаты поиска:</h3>
<table>
    <tr>
        <td><b>Заголовок</b></td>
        <td><b>Дата публикации</b></td>
        <td><b>Превью</b></td>
    </tr>
    {% for p in posts %}
    <tr>
        <td>{{ p.title|censor }}</td>
        <td>{{ p.dateCreation|date:'d.M.Y' }}</td>
        <td>{{ p.text|truncatewords:20|censor }}</td>
        <td>
            {% if perms.newsapp.change_post and p.categoryType == 'NW' %}
            <a href="{% url 'nw_update' pk=p.id %}">Изменить</a>
            {% endif %}
            {% if perms.newsapp.change_post and p.categoryType == 'AR' %}
            <a href="{% url 'ar_update' pk=p.id %}">Изменить</a>
            {% endif %}
            {% if perms.newsapp.delete_post and p.categoryType == 'NW' %}
            <a href="{% url 'nw_delete' p.id %}">Удалить</a>
            {% endif %}
            {% if perms.newsapp.delete_post and p.categoryType == 'AR' %}
            <a href="{% url 'ar_delete' p.id %}">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>По данным параметрам новостей или статей нет!</h2>
{% endif %}

{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}